<div class="editPassword-container">
    <div class="backButton-container">
        <a href="/profile">Назад</a>
    </div>
    <div class="profile-info">
        {{{ ProfileAvatar src="" }}}
        <form action="/messenger" class="properties-container">
            {{{ InputValidated ref="oldPassword" name="oldPassword" type="password" label="Старый пароль" validate=validate.oldPassword }}}
            {{{ InputValidated ref="newPassword" name="newPassword" type="password" label="Новый пароль" validate=validate.newPassword }}}
            {{{ InputValidated ref="newPasswordRepeat" name="newPasswordRepeat" type="password" label="Новый пароль" validate=validate.newPassword }}}

            <div class="controlButtons-container">
                {{{ BaseButton className="submit-button" text="Сохранить" onClick=handleSubmit }}}
            </div>
        </form>
    </div>
</div>
